#c++ objects
*.o
Dependencies

#Visual Studio Code folder
prog00/.vscode
/.vscode

#Tutorials
/Tutorial 0.3.8
/OGLPG-9th-Edition
/ogl-master
/sampleCode
/ParticlesSys

#Executables
mav
spiderling

#SUbmissions
*.zip
