# This is a file that specifies all the transformations applied to all the models in a world.
# To compile the program, just run make from terminal. To run the program, run make start.
# Drumset
# filep ../SampleOBJ/drumTri.obj
# color 1.0 1.0 1.0
# trans -32.6 0.0 0.0
# scale 0.03 0.03 0.03 
# rotat 0.0 0.0 0.0 0.0

# # Spider
# filep ../SampleOBJ/spiderTri.obj
# color 0.7 0.0 0.0
# trans 0.26 -0.8 -2.5
# scale 0.008 0.008 0.008
# rotat 0.0 0.0 0.0 0.0

# # Head
# # filep headTri.obj
# # color 0.0 1.0 1.0
# # trans -3.3 1.8 -1.5
# # scale 0.04 0.04 0.04 
# # rotat 180.0 0.0 1.0 0.0

# # Rose
# filep ../SampleOBJ/roseTri.obj
# color 0.0 1.0 1.0
# trans -3.3 0.55 -1.7 
# scale 0.04 0.04 0.04 
# rotat 360.0 0.0 1.0 1.0

Particle:
maxNum = 1000
mass = 1
# Forces 
f 0.0 -5.0 0.0
f 1.0 0.0 0.0
f 0.0 0.0 -1.5
f 0.4 0.3 9.9
EndParticle;