# Configutation of ray tracing scenen
# Global variables
global:
depth 5
camDist 60
endGlobal

# Spheres (arbitrary number)
s: 
# Position
pos 0 0 -20
# Radius
rad 4
# Color
col 1 0.32 0.36
# Reflectivity
ref 1
# Transparency
tra 0.5
endSphere

s:
pos 0 -10004 -20
rad 10000
col 0.1 0.1 0.6
ref 0.8
tra 0
endSphere

s:
pos 5 -1 -15
rad 2
col 0.9 0.76 0.46
ref 0
tra 0
endSphere

s:
pos 5 0 -25
rad 3
col 0.65 0.77 0.97
ref 0
tra 0
endSphere

# Lights
# l:
# pos 5 5 -10
# amb 0.5 0.5 0.5
# dif 1 1 1
# spe 1 1 1
# endLight

l:
pos 30 5 0 
amb 2 2 2
dif 0 0 0 
spe 0 0 0
endLight